<!DOCTYPE html>
<html>
 <head>
  <meta charset="UTF-8">
  <title>Basketball Team Signup</title>
 </head>
 <body>
   <h2> Create a Basketball Team!</h2>
   <form method="POST" action="/team">
     <p><label for="name">Team Name: </label><input type="text" name="name" id="name"></p>
     <p><label for="coach">Coach: </label><input type="text" name="coach" id="coach"></p>
     <p><label for="pg">Point Guard: <input type="text" name="pg" id="pg"></p>
     <p><label for="shooting_guard">Shooting Guard: <input type="text" name="shooting_guard" id="shooting_guard"></p>
     <p><label for="small_forward">Small Forward: <input type="text" name="small_forward" id="small_forward"></p>
     <p><label for="power_forward">Power Forward: <input type="text" name="power_forward" id="power_forward"></p>
     <p><label for="center">Center: <input type="text" name="center" id="center"></p>
     <p><input type="submit">
   </form>
 </body>
</html>
